<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
            android:supportsRtl="true"
            android:name=".App"
            android:label="@string/appName"
            android:theme="@style/AppTheme"
            android:icon="@mipmap/ic_launcher">
        <activity
                android:name="com.timerx.MainActivity"
                android:exported="true"
                android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.timerx.notification.NotificationService"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <receiver android:name="com.timerx.notification.NotificationBroadcastReceiver"/>

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2499949091653906~3086757678" />
        <receiver android:name="com.timerx.widget.TimerXWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/timerx_widget_info" />
        </receiver>

    </application>

</manifest> 