<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBp3cWI36SGQFc97BhWisGVYxO1lYxQooI</string>
	<key>GCM_SENDER_ID</key>
	<string>798882514249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timerx.ios</string>
	<key>PROJECT_ID</key>
	<string>timerx-b7d18</string>
	<key>STORAGE_BUCKET</key>
	<string>timerx-b7d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798882514249:ios:4ee517929f50e5297fc698</string>
	<key>DATABASE_URL</key>
	<string>https://timerx-b7d18.firebaseio.com</string>
</dict>
</plist>